/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  background-color: #111827;
  overflow-x: hidden;
  padding: 0 1rem;
}

/* Page Layout */
.app {
  max-width: 1200px;
  margin: 0 auto;
}

/* Paragraphs */
p {
  color: #ffffff;
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
}

/* Coin Grid */
.coinRow,
.coinHeader {
  max-width: 1200px;
  margin: 1rem auto !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center !important;
  padding: 1rem;
  border-radius: 5px;
  background: #3f51b5;
  transition: 0.5s;
}

.coinRow:hover {
  transform: scale(1.01);
  transition: 0.2s;
  cursor: pointer;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root,
.css-1v2lvtn-MuiPaginationItem-root {
  color: #ffffff !important;
}

li {
  color: #ffffff !important;
}

/* Pagination */
.pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 1rem !important;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .hidden {
    visibility: hidden;
  }

  .coinRow,
  .coinHeader {
    max-width: 1200px;
    margin: 1rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 5px;
    background: #3f51b5;
    transition: 0.5s;
  }
}